@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './custom/base.scss';
@import './custom/typography.scss';

@import './custom/forms/toggle-switch.scss';
